.signupLable{
    color: rgb(0, 0, 0);
    font-size:xx-large;
}

.errors{
    color:  red;
    font-size: large;
    background-color: white;
    opacity: .8;
}

.signupInput {
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 1px solid black;
    border-radius: 15px;
}

