body{
  /* background: url(https://www.planetware.com/photos-large/EGY/egypt-cairo-pyramids-of-giza-and%20camels-2.jpg)
        no-repeat center center fixed; */
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-row:auto;
    grid-gap: 25px 5px;

    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    width: 95vw;
    overflow: scroll;
    height: 65vh;
}

/* .busdiv img{
  width: 500px;
  height: 500px;
} */

.busdiv {
  /* background-color: white; */
  opacity: .8;
  border: 1px solid rgb(184, 184, 8);
  border-radius: 15px;
  padding: 20px;
  transition-property: background-color;
  transition-delay: 0s;
  width: 28vw;
  /* background-image: ; */
}

  .busdiv:hover{
    background-color: rgb(184, 184, 8);
    opacity: .8;
    margin: 10px;
}

  .busname{
    color: white;
    font:large bolder;
    list-style-type: none;
    font-size: 20px;
}
  
  
  .grid-container a{
    text-decoration: none;
}
  
.busdes {
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.busadd {
  list-style-type: none;
  color: white;
  font-size: 15px;
} 
.busadd2 {
  list-style-type: none;
  color: white;
} 

.image{
  height: 25vh;
  width: 28vw;
}

.divpart{
  position:relative;
}