.loginLable {
	color: white;
	font-size: xx-large;
	display: flex;
	justify-content: left;
	justify-content: space-between;
	margin: 20px;
	/* width: max-content; */
}

.error {
	color: red;
	font-size: 30px;
	background-color: black;
	opacity: 0.8;
}

/* .signupInput {
    width: 200px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border: none;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
} */
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formcontainer {
	display: flex;
	justify-content: center;
}
