.loginLable{
    color: white;
    font-size:xx-large;
    display: flex;
    justify-content: left;
    justify-content: space-between;
    margin: 20px;

}

.error{
    color: red;
    font-size: large;
    background-color: black;
    opacity: .8;
}
.ediv{
    height: 130px;
}
.inputdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50vw;

}
/* .loginInput {
    width: 200px;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border: none;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
} */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontainer{
    display: flex;
    justify-content: center;

}