.topnav {
    background-color: white;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
  }

.topnav a {
    /* list-style-type: none; */
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 15px;
}
/* .navbutt{
    padding: 10px;
} */

.topnav a:hover {
    /* list-style-type: none; */
    background-color: #ddd;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    
}

.topnav a.active {
    background-color: #e6da3b;
    color: rgb(212, 134, 134);
    border: 1px solid black;
    border-radius: 25px
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

input {
    /* width: 100%; */
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input :focus{
    background-color: #ddd;
    outline: none;
  }

button {
    /* list-style-type: none; */
    background-color: #0704aa;
    border: 1px solid black;
    border-radius: 15px;
    font-weight:bold;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor:progress;
    width: 30%;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}


  