.topnav {
    background-color: black;
    /* opacity: 0.5; */
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
  }

.topnav a {
    /* list-style-type: none; */
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 15px;
    
}
.navbutts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .topnav2{
    display: flex;
    flex-direction: column;
} */

.topnav a:hover {
    /* list-style-type: none; */
    background-color: #ddd;
    color: rgb(184, 184, 8);
    border: 1px solid rgb(184, 184, 8);
    border-radius: 15px;
    
}



.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: white;
}
.active{
    color: white;
}

/* .searchinput {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: rgb(184, 184, 8);
    color: white;
} */
input :focus{
    background-color: rgb(184, 184, 8);
    outline: none;
    color: white;
}
.topnav a.active {
    background-color: rgb(184, 184, 8);
    color: white;
    border: 1px solid white;
    border-radius: 25px
}

button {
    background-color: rgb(184, 184, 8);
    border: 1px solid black;
    border-radius: 15px;
    font-weight:bold;
    font: 17px Times;
    color: white;
    padding: 14px 16px;
    height: auto;
    width: auto;
    border: 1px solid white;
    overflow: hidden;

}

button:hover {
    opacity:1;
}


.AddBusiness a{
    text-decoration: none;
}

.searchnavbar{
    display: flex;
    flex-direction: row;
}

#myInput2 {
  background-repeat: no-repeat; 
  width: 500px; /* Full-width */
  font-size: 17px; /* Increase font-size */
  border: 2px solid #ddd; /* Add a grey border */
  /* background-color: rgba(126, 163, 187);; */
  border-radius: 15px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: rgb(184, 184, 8);
  color: white;
  border-color: white;
}
.search-results2 {
  position: absolute;
  left: 1100px;
  top: 70px;
  border-radius: 20px;
  padding: 10px;
  width: 700px;
  font-family: "Prompt";
  font-size: 16px;
  z-index: 1;
  background-color:  rgb(184, 184, 8);

}

.search-results-title{
    color: brown;
    font-size: 20px;
    text-decoration: underline;

}

.username{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 30px;
    width: 200px;
}
  